<body>
  <div class="content-view-box">
    <div class="content-view-title">
      <div>Content View</div>
      <div class="content-view-right pointer">. . .</div>
    </div>

    <div id="exTab1">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#1a" data-toggle="tab" class="active show">Lorem</a>
        </li>
        <li><a href="#2a" data-toggle="tab">Ipsum</a>
        </li>
        <li><a href="#3a" data-toggle="tab"><img src="assets/imgs/lock.png" class="tab-lock-icon">Dolor</a>
        </li>
      </ul>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
          <div class="list-box-main">
            <div class="list-box">
              <div class="list-box-data">
                <div class="list-box-top">
                  <div class="list-box-img">
                    <img src="assets/imgs/user.png">
                  </div>
                  <div class="list-box-text">
                    <div class="list-box-title">
                      <div class="list-title">Dan Hart, 30</div>
                      <div>
                        <a href="">
                          <img src="assets/imgs/lock.png">
                        </a>
                        <a href="">
                          <img src="assets/imgs/arrow-right.png">
                        </a>
                      </div>
                    </div>
                    <div class="data-main">
                      <div class="data-box">
                        <div class="data-box-title">Location</div>
                        <div class="data-box-text">Seattle</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Ipsum</div>
                        <div class="data-box-text D6D6D6-color">
                          <p>$</p>125&nbsp;<span>(25/ea)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-main data-main-list" *ngIf="t1">
                  <div class="data-box">
                    <div class="data-box-title">Options:</div>
                    <div class="data-box-text">Item 1 Lorem Ipsum
                      Item Two</div>
                  </div>
                  <div class="data-box-right">
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Preferences Profile</div>
                        <div class="data-box-text">15.54% (below avg options) (20%)</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem</div>
                        <div class="data-box-text D6D6D6-color">5</div>
                      </div>
                    </div>
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum</div>
                        <div class="data-box-text">30</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Dolor</div>
                        <div class="data-box-text D6D6D6-color">10&nbsp;<span>days</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="see-more-less">
                  <button (click)="t1=!t1">{{t1?'see less...':'see more...'}}</button>
                </div>
              </div>
            </div>

            <div class="list-box">
              <div class="list-box-data">
                <div class="list-box-top">
                  <div class="list-box-img">
                    <img src="assets/imgs/user.png">
                  </div>
                  <div class="list-box-text">
                    <div class="list-box-title">
                      <div class="list-title">Dan Hart, 30</div>
                      <div>
                        <a href="">
                          <img src="assets/imgs/lock.png">
                        </a>
                        <a href="">
                          <img src="assets/imgs/arrow-right.png">
                        </a>
                      </div>
                    </div>
                    <div class="data-main">
                      <div class="data-box">
                        <div class="data-box-title">Location</div>
                        <div class="data-box-text">Seattle</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Ipsum</div>
                        <div class="data-box-text D6D6D6-color">
                          <p>$</p>125&nbsp;<span>(25/ea)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-main data-main-list" *ngIf="t2">
                  <div class="data-box">
                    <div class="data-box-title">Options:</div>
                    <div class="data-box-text">Item 1 Lorem Ipsum
                      Item Two</div>
                  </div>
                  <div class="data-box-right">
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Preferences Profile</div>
                        <div class="data-box-text">15.54% (below avg options) (20%)</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem</div>
                        <div class="data-box-text D6D6D6-color">5</div>
                      </div>
                    </div>
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum</div>
                        <div class="data-box-text">30</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Dolor</div>
                        <div class="data-box-text D6D6D6-color">10&nbsp;<span>days</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="see-more-less">
                  <button (click)="t2=!t2">{{t2?'see less...':'see more...'}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="2a">
          <div class="list-box-main">
            <div class="list-box">
              <div class="list-box-data">
                <div class="list-box-top">
                  <div class="list-box-img">
                    <img src="assets/imgs/user.png">
                  </div>
                  <div class="list-box-text">
                    <div class="list-box-title">
                      <div class="list-title">dBeatz56, 30</div>
                      <div>
                        <a href="">
                          <img src="assets/imgs/lock.png">
                        </a>
                        <a href="">
                          <img src="assets/imgs/arrow-right.png">
                        </a>
                      </div>
                    </div>
                    <div class="data-main">
                      <div class="data-box">
                        <div class="data-box-title">Location</div>
                        <div class="data-box-text">Seattle</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem Ipsum</div>
                        <div class="data-box-text D6D6D6-color">30</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-main data-main-list" *ngIf="t3">
                  <div class="data-box">
                    <div class="data-box-title">Preferences Summary:</div>
                    <div class="data-box-text">34 2b 34 2w 36 2h<br>
                      Lorem 96+<br>
                      Ipsum 90+<br>
                      Dolor 70+</div>
                  </div>
                  <div class="data-box-right">
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Preferences Profile</div>
                        <div class="data-box-text">15.54% (below avg options) (20%)</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem Ipsum</div>
                        <div class="data-box-text D6D6D6-color">
                          <p>$</p>1876&nbsp;<span>(~27/ea)</span>
                        </div>
                      </div>
                    </div>
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Weight/Height pref</div>
                        <div class="data-box-text">56- kg / 160- cm</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem Ipsum</div>
                        <div class="data-box-text D6D6D6-color">01-03-23&nbsp;<span>(1.2 years)</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-main data-main-list" *ngIf="t3">
                  <div class="data-box">
                    <div class="data-box-title">Profile Summary:</div>
                    <div class="data-box-text">Masters
                      EU Ivy League
                      $500k+
                      20 employees Soccer Scholarship
                      Wrestling States</div>
                  </div>
                  <div class="data-box-right">
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum Dolor</div>
                        <div class="data-box-text">Assertive</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem/Ipsum</div>
                        <div class="data-box-text D6D6D6-color">7.4 / 6.1+</div>
                      </div>
                    </div>
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum</div>
                        <div class="data-box-text">Lorem, Ipsum, Dolor</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem Ipsum</div>
                        <div class="data-box-text D6D6D6-color">5</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="see-more-less">
                  <button (click)="t3=!t3">{{t3?'see less...':'see more...'}}</button>
                </div>
              </div>
            </div>

            <div class="list-box">
              <div class="list-box-data">
                <div class="list-box-top">
                  <div class="list-box-img">
                    <img src="assets/imgs/user.png">
                  </div>
                  <div class="list-box-text">
                    <div class="list-box-title">
                      <div class="list-title">dBeatz56, 30</div>
                      <div>
                        <a href="">
                          <img src="assets/imgs/lock.png">
                        </a>
                        <a href="">
                          <img src="assets/imgs/arrow-right.png">
                        </a>
                      </div>
                    </div>
                    <div class="data-main">
                      <div class="data-box">
                        <div class="data-box-title">Location</div>
                        <div class="data-box-text">Seattle</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem Ipsum</div>
                        <div class="data-box-text">30</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-main data-main-list" *ngIf="t4">
                  <div class="data-box">
                    <div class="data-box-title">Preferences Summary:</div>
                    <div class="data-box-text">34 2b 34 2w 36 2h<br>
                      Lorem 96+<br>
                      Ipsum 90+<br>
                      Dolor 70+</div>
                  </div>
                  <div class="data-box-right">
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Preferences Profile</div>
                        <div class="data-box-text">15.54% (below avg options) (20%)</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem Ipsum</div>
                        <div class="data-box-text D6D6D6-color">
                          <p>$</p>1876&nbsp;<span>(~27/ea)</span>
                        </div>
                      </div>
                    </div>
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Weight/Height pref</div>
                        <div class="data-box-text">56- kg / 160- cm</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem Ipsum</div>
                        <div class="data-box-text D6D6D6-color">01-03-23&nbsp;<span>(1.2 years)</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-main data-main-list" *ngIf="t4">
                  <div class="data-box">
                    <div class="data-box-title">Profile Summary:</div>
                    <div class="data-box-text">Masters
                      EU Ivy League
                      $500k+
                      20 employees Soccer Scholarship
                      Wrestling States</div>
                  </div>
                  <div class="data-box-right">
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum Dolor</div>
                        <div class="data-box-text">Assertive</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem/Ipsum</div>
                        <div class="data-box-text D6D6D6-color">7.4 / 6.1+</div>
                      </div>
                    </div>
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum</div>
                        <div class="data-box-text">Lorem, Ipsum, Dolor</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem Ipsum</div>
                        <div class="data-box-text D6D6D6-color">5</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="see-more-less">
                  <button (click)="t4=!t4">{{t4?'see less...':'see more...'}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="3a">
          <div class="list-box-main">
            <div class="list-box">
              <div class="list-box-data">
                <div class="list-box-top">
                  <div class="list-box-img">
                    <img src="assets/imgs/user-2.png">
                  </div>
                  <div class="list-box-text">
                    <div class="list-box-title">
                      <div class="list-title">Jillian Jacobs, 30</div>
                      <div>
                        <a href="">
                          <img src="assets/imgs/lock.png">
                        </a>
                        <a href="">
                          <img src="assets/imgs/arrow-right.png">
                        </a>
                      </div>
                    </div>
                    <div class="data-main">
                      <div class="data-box">
                        <div class="data-box-title">Location</div>
                        <div class="data-box-text">Seattle</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem</div>
                        <div class="data-box-text D6D6D6-color">6.1</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-main data-main-list" *ngIf="t5">
                  <div class="data-box">
                    <div class="data-box-title">Scores Summary:</div>
                    <div class="data-box-text">30b 30w 31h<br>
                      Lorem 96+<br>
                      Ipsum 90+<br>
                      Dolor 70+</div>
                  </div>
                  <div class="data-box-right">
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum</div>
                        <div class="data-box-text">56 kg / 160 cm</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Ipsum</div>
                        <div class="data-box-text D6D6D6-color">30</div>
                      </div>
                    </div>
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum</div>
                        <div class="data-box-text">Assertive</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Dolor</div>
                        <div class="data-box-text D6D6D6-color">2</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-main data-main-list" *ngIf="t5">
                  <div class="data-box">
                    <div class="data-box-title">Profile Summary:</div>
                    <div class="data-box-text">o90c45e56a79n98, Lorem; Ipsum, Dolor</div>
                  </div>
                  <div class="data-box-right">
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum</div>
                        <div class="data-box-text">Ipsum, Lorem</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lifetime</div>
                        <div class="data-box-text D6D6D6-color">15</div>
                      </div>
                    </div>
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="progress-bar-1"><span>Ipsum 95.54% (user1)</span></div>
                        <div class="progress-bar-1 progress-bar-2"><span>Lorem 45.54% (userwithlongName2)</span></div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Record Created</div>
                        <div class="data-box-text D6D6D6-color">01-03-23&nbsp;<span>(1.2 years)</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="see-more-less">
                  <button (click)="t5=!t5">{{t5?'see less...':'see more...'}}</button>
                </div>
              </div>
            </div>

            <div class="list-box">
              <div class="list-box-data">
                <div class="list-box-top">
                  <div class="list-box-img">
                    <img src="assets/imgs/user-2.png">
                  </div>
                  <div class="list-box-text">
                    <div class="list-box-title">
                      <div class="list-title">Jillian Jacobs, 30</div>
                      <div>
                        <a href="">
                          <img src="assets/imgs/lock.png">
                        </a>
                        <a href="">
                          <img src="assets/imgs/arrow-right.png">
                        </a>
                      </div>
                    </div>
                    <div class="data-main">
                      <div class="data-box">
                        <div class="data-box-title">Location</div>
                        <div class="data-box-text">Seattle</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lorem</div>
                        <div class="data-box-text">6.1</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-main data-main-list" *ngIf="t6">
                  <div class="data-box">
                    <div class="data-box-title">Scores Summary:</div>
                    <div class="data-box-text">30b 30w 31h<br>
                      Lorem 96+<br>
                      Ipsum 90+<br>
                      Dolor 70+</div>
                  </div>
                  <div class="data-box-right">
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum</div>
                        <div class="data-box-text">56 kg / 160 cm</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Ipsum</div>
                        <div class="data-box-text D6D6D6-color">30</div>
                      </div>
                    </div>
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum</div>
                        <div class="data-box-text">Assertive</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Dolor</div>
                        <div class="data-box-text D6D6D6-color">2</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-main data-main-list" *ngIf="t6">
                  <div class="data-box">
                    <div class="data-box-title">Profile Summary:</div>
                    <div class="data-box-text">o90c45e56a79n98, Lorem; Ipsum, Dolor</div>
                  </div>
                  <div class="data-box-right">
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="data-box-title">Lorem Ipsum</div>
                        <div class="data-box-text">Ipsum, Lorem</div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Lifetime</div>
                        <div class="data-box-text D6D6D6-color">15</div>
                      </div>
                    </div>
                    <div class="right-box-data">
                      <div class="data-box">
                        <div class="progress-bar-1"><span>Ipsum 95.54% (user1)</span></div>
                        <div class="progress-bar-1 progress-bar-2"><span>Lorem 45.54% (userwithlongName2)</span></div>
                      </div>
                      <div class="data-box data-box-right-text">
                        <div class="data-box-title red-color">Record Created</div>
                        <div class="data-box-text D6D6D6-color">01-03-23&nbsp;<span>(1.2 years)</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="see-more-less">
                  <button (click)="t5=!t5">{{t5?'see less...':'see more...'}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="expand-collapse-bottom pointer" (click)="expand()">
      Expand/Collapse
    </div>
  </div>
</body>
